.landing{
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
  text-align: center;
  height: 500px;
}
.landing img{
  height: 200px;
}

#bigrow{
  border-style:solid;
  height: 85px;
  margin-left: inherit;
  margin-right: inherit;
  border-bottom: line;
  height: 185px;
}
#smallrow{
  border-style: : line;
  border-style: inherit;
}
.party{
  background-color: tomato;
  padding-bottom: 50px;
    position: relative;
}
.happy{
  padding-bottom: 50px;
  position: relative;
}
.align{
  text-align: center;
}
#breakfast h2{
  position: relative;
  top: 90px;
}
#breakfast:hover h2{
 color:black;
opacity:0.6;

}
#breakfast:hover {
opacity:0.6;

}
#lunch h2{
  position: relative;
  top: 90px;
}
#lunch:hover h2{
 color:black;
opacity:0.6;

}
#lunch:hover {
opacity:0.6;

}
#dinner h2{
  position: relative;
  top: 90px;
}
#dinner:hover h2{
 color:black;
opacity:0.6;

}
#dinner:hover {
opacity:0.6;

}
#breakfast{
  background-image: url("../ip2/assets/foodtop/breakfast.jpg");
    color: white;
}
#lunch{
  background-image: url("../ip2/assets/foodtop/dinner.jpg");
    color: white;
}
#dinner{
  background-image:url("../ip2/assets/foodtop/lunch.jpg");
    color: white;
}
#fastfood img{
  margin-right: 50px;
}
.box{
  border-style:none;
  margin-top: 100px;
  margin-left: 300px;

}
.img-thumbnail{
  margin-top: 100px;
  margin-left: 100px;
  padding-right: 50px;
}
.drinks{
  text-align: right;
  margin-top: 100px;
}
.fastfood{
  text-align: left;
  margin-top: 100px;
}
.btn-default{
  border-color: tomato;
  background-color: white;
  color: tomato;
}
.jumbotron1{
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
  margin-top: 100px;
}
.contraption{
  background-color: white;
  margin-right: 20px;
}
span{
  margin-left: 20px;
}
.spacing{
  word-spacing: 300px;
  color: red;
}
.customer{
  text-align: center;
margin-top:-50px;
border-width: thin;
border-style: solid;
margin-right: 50px;
margin-left: 50px;
height: 350px;
}
.customer h2{
  color: red;
}
.customer h3{
  color: red;
}
.jumbotron2{
  background-color: white;
  margin-bottom: -50px;
}
.jumbotron3{
  background-image: url("../ip2/assets/backgrounds/subscribe.jpg");
  padding-top: 100px;
  color: white;
  text-align: center;
  align-items: center;
  color: white;
}
.jumbotron4{
  background-color: tomato;

}
.nav-item1{
  margin-right: 180px;
}
.left {
  border-left: solid;
  border-width:thin;
  height: 300px;
  margin-top: 30px;
}
.footerlogos{
align-items: center;
text-align: center;
}
.subscribe{
  background-color: red;
}
