.landing{
  background-image: url("../ip2/assets/backgrounds/landing.jpg");
  text-align: center;
  height: 500px;
}
.landing img{
  height: 200px;
}

#bigrow{
  border-style:solid;
  height: 85px;
  margin-left: inherit;
  margin-right: inherit;
  border-bottom: line;
  height: 185px;
}
#smallrow{
  border-style: : line;
  border-style: inherit;
}
.party{
  background-color: tomato;
  padding-bottom: 50px;
    position: relative;
}
.happy{
  padding-bottom: 50px;
  position: relative;
}
.align{
  text-align: center;

}
#breakfast{
  background-image: url("../ip2/assets/foodtop/breakfast.jpg");
    color: white;
}
#lunch{
  background-image: url("../ip2/assets/foodtop/dinner.jpg");
    color: white;
}
#dinner{
  background-image:url("../ip2/assets/foodtop/lunch.jpg");
    color: white;
}
.box{
  border-style:none;
  margin-top: 100px;
  margin-left: 300px;

}
.box img{
  height:100px;
  width:350px;
}
.drinks{
  text-align: right;
  margin-top: 100px;
}
.fastfood{
  text-align: left;
  margin-top: 100px;
}
.btn-default{
  border-color: tomato;
  background-color: white;
  color: tomato;
}
.menu{
  background-image: url("../ip2/assets/backgrounds/foodsBg.jpg");
}
